@import 'variables.scss';

.demo {
    color: color(mainblue);

    &__img {
        width: 100%;

        &--active {
            color: bisque;
        }
    }
}


.content {
    max-width: 1004px;
    width: 100%;
    margin: 0 auto;
}